.editor-container {
    width: 87%;
    margin: 20px auto;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    box-sizing: border-box;
    max-height: 1920px;
    overflow-x: auto;
  }
  
  .editor-toolbar {
    display: flex;
    margin-top: 0px;
    justify-content: flex-start;
    margin-bottom: 10px;
    background-color: #f5f5f5;
    padding: 10px;
    border: 1px solid #ddd;
    border-radius: 5px;
  }
  
  .editor-toolbar button,
  .editor-toolbar select {
    background-color: #fff;
    border: 1px solid #ccc;
    padding: 5px 10px;
    margin-right: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .editor-toolbar button:hover,
  .editor-toolbar select:hover {
    background-color: #eee;
  }
  
  
  
  .color-picker {
    display: flex;
    align-items: center;
    position: relative;
  }
  
  #color-options {
    display: none;
    position: absolute;
    top: 35px;
    left: 0;
    z-index: 10;
    transition: opacity 0.3s ease;
    opacity: 0;
    background-color: white;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
  }
  
  #color-options.show {
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    opacity: 1;
  }
  
  .color-option {
    width: 30px;
    height: 30px;
    cursor: pointer;
    border-radius: 3px;
    border: 1px solid rgba(0, 0, 0, 0.2);
    position: relative;
    transition: border 0.2s ease;
    box-sizing: border-box;
    margin: 0;
  }
  
  .color-option:hover {
    border: 2px solid rgba(0, 0, 0, 0.5);
  }
  
  .tooltip {
    visibility: hidden;
    background-color: #333;
    color: #fff;
    text-align: center;
    border-radius: 4px;
    padding: 5px;
    position: absolute;
    z-index: 100;
    bottom: 40px;
    left: 50%;
    transform: translateX(-50%);
    opacity: 0;
    transition: opacity 0.3s;
  }
  
  .color-option:hover .tooltip {
    visibility: visible;
    opacity: 1;
  }
  
  .editor-textarea {
    width: 100%;
    margin-top: 60px;
    height: 420px;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    font-size: 16px;
    font-family: Arial, sans-serif;
    resize: none;
    box-sizing: border-box;
    overflow-x: auto;
  }